

<!doctype html>


<head><title>WebScrapping</title> 
    <meta charset=utf-8> </head>
    <body>
        <h1>Menu de webScrapping</h1>
        
        <h3>El valor del bitcoit (BTC) en pesos:</h3>
        <form action="/bitcoin/">
            <input type="submit" value="Valor Aqui" />
        </form>
        
        <h3>El valor del dolar (USD) en pesos:</h3>
        <form action="/dolar/">
            <input type="submit" value="Valor Aqui" />
        </form>


        <h3>El valor del euro (EUR) en pesos :</h3>
        <form action="/euro/">
            <input type="submit" value="Valor Aqui" />
        </form>

        <h3>El valor del yen (JPY) en pesos:</h3>
        <form action="/yen/">
            <input type="submit" value="Valor Aqui" />
        </form>
        
        <h3>El valor del peso argentino (ARG) en pesos:</h3>
        <form action="/parg/">
            <input type="submit" value="Valor Aqui" />
        </form>

    </body>
