

<!doctype html>


<head><title>WebScrapping</title> 
    <meta charset=utf-8> </head>
    <body>
        <h1>Menu de webScrapping</h1>
        
        <h3>El valor del bitcoit (BTC) en pesos:</h3>
        <form action="/bitcoin/">
            <input type="submit" value="Valor Aqui" />
        </form>
        
        <h3>El valor del dolar (USD) en pesos:</h3>
        <form action="/dolar/">
            <input type="submit" value="Valor Aqui" />
        </form>


        <h3>La temperatura en °F es:</h3>
        <form action="/temp/">
            <input type="submit" value="Valor Aqui" />
        </form>

        <h3>La sensacion termica en °F es:</h3>
        <form action="/sensa/">
            <input type="submit" value="Valor Aqui" />
        </form>

    </body>